body {
  background-image: url('/img/Wood-Background-Wood-Texture-Background-Graphics-17652269-1.jpg');
  font-family: 'Lobster Two', sans-serif;
}

.container {
  display: grid;
  place-items: center;
  /* margin-top: 20rem; */
  padding-top: 5rem;
  background-color: #474747de;
  width: 50%;
  margin: 10rem auto;
  color: white;
  box-shadow: 5px 5px 5px 15px #00000052;
}

.gameContainer {
  /* padding: 10rem; */
  padding-bottom: 10rem;
}

.choiceBtn {
  padding: 1rem 2rem;
  border-radius: 8px;
  border: none;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  margin-left: 2rem;
  margin-right: 2rem;
  cursor: pointer;
  background-color: #a01941;
  color: white;
}
h1 { 
  font-size: 3rem;
}

.playersPicks {
  display: flex;
  justify-content: space-between;
}
.playersScores {
  display: flex;
  justify-content: space-between;
}